/*UNIVERSAL SELECTOR*/


/*********************************
GENERAL
*********************************/

body {
    line-height: 1.5;
    margin: 0;
    position: relative;
}

a {
    color: #fff;
    text-decoration: none;
}

h2{
    color: black;
    font-family: 'Raleway', sans-serif;
}

h4 {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

p {
    color: #212121;
    font-family: 'Raleway', sans-serif;
}

/*********************************
TITLE
*********************************/
#for-title{
    background: linear-gradient(#424242, transparent 100%);
}

nav ul {
    font-family: 'Raleway', sans-serif; 
    padding-right: 5px;
}

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
}

.main-header {
    animation: fadeInLoad 5s;
    height: 100%;
    padding-top: 10px;
    text-align: center;
}
@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.arrow {
    margin-top: 20px;
    width: 50px;
}

h1 {
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    letter-spacing: 10px;
}

h3 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}

.fornav {
    background-color: #212121;
    height: 50px;
}

/*********************************
QUOTES  
*********************************/
.quotes{
    height: 350px;
    padding: 15px;
}

quote{
    padding-bottom: 5px;
    padding-bottom: 5px;
}

.quoter{
    float: right;
}

/*********************************
COURSES 
*********************************/
.hi {
-webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
     -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
}

.hi:hover {
zoom: 1;
filter: alpha(opacity=50);
opacity: 0;
} 

.courses {
    color: #424242;
    height: 800px;
    padding-top: 50px;
}

#crs {
    color: #424242;
    padding-left: 15px;
}

#t1 {
    background-image: url('../img/lap.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}

#t2 {
    background-image: url('../img/phone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}

#t3 {
    background-image: url('../img/white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
}

.course-description{
    padding-left: 20px;
    padding-right: 20px;
}

/*********************************
FAQ  
*********************************/
.trans{
    background: linear-gradient(#fff, transparent 100%), #F44336;
    height: 300px;
}

.faq {
    background-color: #F44336;
    height: 1375px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.faq h2, .faq p {
    color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*********************************
APPLY  
*********************************/


/*********************************
CONTACT  
*********************************/


/*********************************
PARALLAX  
*********************************/
html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
   background-attachment: fixed;  
    background-color: #e0e0e0;
    width: 100%;
}

#slide1:before {
  background-image: url("../img/comp.png");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
    background-color: #e0e0e0;
    width: 100%;
}

#slide3:before {
  background-image: url("img/p&r2.png");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}















